/* CSS Style Sheet*/

li{
    display: inline;
}

body{
    font-family: Arial, sans-serif;
    font-size: 13px;
}

#center{
    width: 500px;
    height: 355px;
    margin: 0 auto;
    text-align: center;
}

#navbar{
    /*line-height: 24px;
    text-align: right;
    vertical-align: middle;*/
}


footer{
    
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    justify-content: space-between;
    border-top: .5px solid #e6e6e6;
    background-color: #f2f2f2; 
    font-size: 13px;
	opacity: 0.75;
	color: #757575;
    display: inline-block;
    font-family: arial, sans-serif;
    padding-left: 27px;
}

a {
	color: #000;
	font-family: arial, sans-serif;
	text-decoration: none;
	font-size: 13px;
	opacity: 0.75;
}

a:hover{
    cursor: pointer;
    text-decoration-line: underline;
}

.topleft, .bottomleft{
    float: left;
}

.topright, .bottomright{
    float: right;
    
}

#signin{
    background-color: #4285f4;
    box-sizing: border-box;
    font-weight: bold;
    border: 1px solid #4285f4;
    color: #fff;
    cursor: default;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    
}

#signin:hover{
    box-shadow: 0 1px 0 rgba(0,0,0,.15);    
}




