/* CSS Style Sheet*/

 li {
    display: inline-block;
}

body{
    font-family: Arial, sans-serif;
    font-size: 13px;
    min-width: 980px; /*adds horizontal scrolling when viewport is minimized"*/
}

abbr[title]{
    text-decoration: none;
}

nav{
    align-items: center;
}


/* change to main*/
#center{
    margin: 0 auto;
    text-align: center;    
}

#sig{    
    padding-top: 35px;
    padding-bottom: 50px;
}

footer{
    
    position: absolute;
    bottom: 0;
    min-width: 100%; 
    line-height: 27px;
    justify-content: space-between;
    border-top: 1px solid #e6e6e6;
    background-color: #f2f2f2; 
    font-size: 13px;
	opacity: 0.75;
	color: #757575;        
}

a {
	color: #000;
	font-family: arial, sans-serif;
	text-decoration: none;	
    opacity: 0.75;
    padding-left: 10px;
}

a:hover{
    cursor: pointer;
    text-decoration-line: underline;
}

#topleft, #bottomleft{
    float: left;
}


#topright, #bottomright{    
    text-align: right;
    white-space: nowrap;  
}

#signin{
    background-color: #4285f4;
    box-sizing: border-box;
    font-weight: bold;
    border: 1px solid #4285f4;
    color: #fff;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;    
}

#signin:hover{
    box-shadow: 0 1px 0 rgba(0,0,0,.15);    
}




